#cart {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 70%;
	margin: auto;
	gap: 10px;
}

.card {
	text-align: center;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}


@media all and (min-width: 768px) and (max-width: 1024px) {
	#cart {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}

@media all and (min-width: 320px) and (max-width: 767px) {
	#cart {
		display: grid;
		grid-template-columns: repeat(1, 1fr);

	}	 
}