#product {
	display: flex;
	width: 60%;
	margin: auto;
}
#product_image img {
	width: 100%;
}
#details {
	width: 30%;
	display: grid;
	grid-template-columns: 1 1fr;
	margin-left: 2%;
	border: 1px solid black;
}
#details select {
	width: 40%;
	text-align: center;
	border-radius: 3px;
}

#details > div {
	display: flex;
	border: 1px solid black;
	width: 30%;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin-bottom: 2%;
}

#details > button {
	margin-top: 2%;
}
