#product {
	display: flex;
	width: 80%;
	margin: auto;
	padding: 20px;
}
#product_image {
	height: 100%;
	width: 40%;
}
#product_image img {
	width: 100%;
	height: 100%;
}
#details {
	width: 40%;
	height: 100%;
	/* display: grid;
	grid-template-columns: 1 1fr; */
	display: flex;
	flex-direction: column;
	margin-left: 2%;
	border: 1px solid black;
	line-height: 40px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#details select {
	width: 20%;
	text-align: center;
	border-radius: 3px;
	padding: 10px;
	border: 1px solid gray;
	font-size: 15px;
}
#details button {
	width: 50%;
	/* margin: auto; */
	background-color: white;
	border-radius: 5px;
	padding: 10px;
}
#details button:hover {
	background-color: gray;
	color: white;
}

#details > div {
	display: flex;
	/* border: 1px solid black; */
	width: 30%;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin-bottom: 2%;
}

#details > button {
	margin-top: 2%;
}
#recommendations {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#recommendations div {
	margin-left: 20%;
}
#recommendations img {
	width: 90%;
	margin: auto;
}

#trending_tab {
	display: flex;
	width: 70%;
	margin: auto;
}

#trending_tab img {
	width: 100%;
}
#trending_tab div {
	margin: 20px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	padding: 5px;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
	#product {
		/* border: 2px solid red; */
		display: flex;
		width: 90%;
	}
	#product_image {
		/* border: 2px solid green; */
		width: 70%;
		/* height: 100%; */
	}
	#product_image img {
		/* border: 2px solid blue; */
		width: 70%;
		height: 100%;
	}
	#details {
		padding: 10px;
		width: 60%;
		height: 50%;
	}
	#recommendations div {
		/* border: 1px solid chartreuse; */
		margin-left: 30%;
	}
	#recommendations img {
		width: 70%;
		margin: auto;
	}
	#trending_tab {
		/* border: 2px solid red; */
		width: 90%;
	}
	
	#trending_tab img {
		width: 100%;
	}
}
@media all and (min-width: 320px) and (max-width: 767px) {
	#product {
		display: flex;
		width: 90%;
	}
	#product_image {
		width: 70%;
		/* height: 100%; */
	}
	#product_image img {
		width: 70%;
		height: 100%;
	}
	#details {
		padding: 10px;
		width: 60%;
		height: 50%;
	}
	#recommendations div {
		margin-left: 30%;
	}
	#recommendations img {
		width: 70%;
		margin: auto;
	}
	#trending_tab {
		width: 90%;
	}
	
	#trending_tab img {
		width: 70%;
	}
}
