* {
	box-sizing: border-box;
	/* for the hover dropdown effect */
}

#first_navbar {
	/* changed border to 0px */
	border: 0px solid black;
	display: flex;
	justify-content: center;
	background-color: #af2c2c;
}

/* added margin 0  */
#first_navbar > a,
#first_navbar > p {
	margin: 0;
}
.first_navbar {
	/* updated padding */
	padding: 10px 15px;
	color: #ffffff;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
}
.first_navbar a {
	color: #ffffff;
}
#language_tab {
	background-color: #f7f6f2;
	border-bottom: 1px solid #f7f6f2;
	display: flex;
	gap: 30px;
	justify-items: center;
	padding: 10px;
	justify-content: flex-end;
	padding-right: 50px;
	font-family: sans-serif;
}
#left button {
	color: #167a92;
	/* added background color */
	background-color: #f7f6f2;
	border: none;
}
#right {
	/* updated below all*/
	display: flex;
	width: 15%;
	color: #0d93b4;
	gap: 6px;
} /* add hover */
#rightbtn1:hover {
	filter: grayscale(100%);
}
#right button {
	/* updated below all */
	display: flex;
	border: none;
	background-color: #f7f6f2;
	word-spacing: 2px;
	color: #167a92;
	gap: 10px;
	
	position: absolute;
	font-size: 13px;
	cursor: pointer;
	margin-top: -2px;
	font-family: Helvetica;
} /* added new #signinimg */
#signinimg {
	width: 8%;
} /* updated p below */
#right p {
	margin-top: 2.5px;
	margin-bottom: -1px;
}
/* added new id from here to popup for sign in*/
#signin_signup_popup {
	visibility: hidden;
	/* change visibility to visible */
	width: 100%;
	height: 100%;
	margin-top: -30px;
	z-index: 10;
    overflow-x:hidden;
	position: fixed;
}
#signin_signup_form {
	width: 35%;
	visibility: visible;
	display: none;
	background-color: #fdfdf9;
	height: 86%;
	overflow-y: scroll;
	overflow-x: hidden;
	margin: auto;
	margin-top: 0px;
	text-align: center;
}
#signin_signup_form > h2 {
	border-bottom: 1px solid black;
}
#exista {
	text-decoration: none;
	color: black;
	background-color: #fdfdf9;
}
#top {
	width: 95%;
	display: flex;
	margin-top: 20px;
	justify-content: flex-end;
	background-color: #fdfdf9;
	font-size: 30px;
}
#signinp1 {
	font-family: Arial;
	width: 86%;
	margin: auto;
	padding: 16px 6px;
	padding-bottom: 10px;
	background-color: #fdfdf9;
	font-size: 28px;
	font-weight: 500;
	border-bottom: 1px solid rgb(197, 197, 197);
}
#signinp2 {
	width: 86%;
	margin: auto;
	font-family: Verdana;
	margin-top: 20px;
	font-size: 12px;
	color: #5c5c5f;
	word-spacing: 2px;
	letter-spacing: 1px;
	line-height: 2;
	font-weight: 200;
} /* updated forms id's */
#signinformemail {
    /*changed width 86% to 100%*/
	width: 100%;
	padding: 0px 32px;
	text-align: start;
	margin: auto;
}
#signinformnumber {
     /*changed width 86% to 100%*/

	width: 100%;
	padding: 0px 32px;
	text-align: start;
	margin: auto;
}
#signupform1 {
     /*changed width 86% to 100%*/
	width: 100%;
	padding: 0px 32px;
	text-align: start;
	margin: auto;
}
#signinformnumberpage {
     /*changed width 86% to 100%*/
	width: 100%;
	padding: 0px 32px;
	text-align: start;
	margin: auto;
}
#signinformemailpage {
	width: 100%;
	padding: 0px 32px;
	text-align: start;
	margin: auto;
}
#signinemail {
	text-align: start;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 5px;
	font-size: 16px;
	font-family: Arial;
	letter-spacing: 1px;
	color: #1b1b1b;
	text-align: start;
}
#emailsigninpassword {
    /* changed width to 100% */
	width: 100%;
	font-size: 18px;
	padding: 14px 6px;
	border: 3px solid #167a92;
	border-radius: 5px;
	margin-bottom: 10px;
	background-color: #fdfdf9;
	color: #959999;
	letter-spacing: 1px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
#emailsignin {
    /*changed width 98% to 100% */
	width: 100%;
	font-size: 18px;
	padding: 14px 6px;
	border: 2px solid #167a92;
	border-radius: 5px;
	margin-bottom: 10px;
	background-color: #fdfdf9;
	color: #959999;
	letter-spacing: 1px;
}
#enternumbersignin {
	 /* changed width to 100% */
     width: 100%;
	font-size: 18px;
	padding: 16px 6px;
	border: 2px solid #167a92;
	border-radius: 5px;
	margin-bottom: 10px;
	background-color: #fdfdf9;
	color: #959999;
	letter-spacing: 1px;
}
#entersigninnumberpassword {
	 /* changed width to 100% */
     width: 100%;
	font-size: 18px;
	padding: 16px 6px;
	border: 3px solid #167a92;
	border-radius: 5px;
	margin-bottom: 10px;
	background-color: #fdfdf9;
	color: #959999;
	letter-spacing: 1px;
}
#passwordsignin {
	 /* changed width to 100% */
     width: 100%;
	font-size: 18px;
	padding: 16px 6px;
	border: 3px solid #167a92;
	border-radius: 5px;
	margin-bottom: 10px;
	background-color: #fdfdf9;
	color: #959999;
	letter-spacing: 1px;
} /* added new id's form id's end here modified if some already present data*/
.tick {
	width: 86%;
	display: flex;
	gap: 10px;
}
#tickp {
	font-family: Verdana;
	font-size: 16px;
	color: #555757;
}
#signininfo {
	width: 7%;
	height: 20px;
}
#signininfo:hover {
	cursor: help;
}
#next {
	margin-top: 20px;
	width: 86%;
	padding: 15px 0px;
	color: #fdfdf9;
	font-size: 18px;
	letter-spacing: 1px;
	background-color: #4b5666;
	border: 1px solid #4b5666;
}
#nextemail {
	margin-top: 20px;
	width: 86%;
	padding: 15px 0px;
	color: #fdfdf9;
	font-size: 18px;
	letter-spacing: 1px;
	background-color: #4b5666;
	border: 1px solid #4b5666;
}
#nextemail:hover {
	background-color: #fdfdf9;
	color: #4b5666;
	border: 1px solid #4b5666;
}
#nextmobilenumber {
	margin: auto;
	margin-top: 20px;
	width: 86%;
	padding: 15px 0px;
	color: #fdfdf9;
	font-size: 18px;
	letter-spacing: 1px;
	background-color: #4b5666;
	border: 1px solid #4b5666;
}
#nextmobilenumber:hover {
	background-color: #fdfdf9;
	color: #4b5666;
	border: 1px solid #4b5666;
}
#nextsignuppage {
	margin-top: 20px;
	width: 86%;
	padding: 16px 0px;
	color: #fdfdf9;
	font-size: 16px;
	letter-spacing: 1px;
	background-color: #4b5666;
	border: 1px solid #4b5666;
}
#nextsignuppage:hover {
	background-color: #fdfdf9;
	color: #4b5666;
	border: 1px solid #4b5666;
}
#mobilenumber {
	margin-top: 20px;
	width: 86%;
	padding: 15px 0px;
	color: #4b5666;
	font-size: 18px;
	letter-spacing: 1px;
	background-color: #fdfdf9;
	border: 1px solid #4b5666;
	margin-bottom: 30px;
	border-bottom: 1px solid #4b5666;
}
#next:hover {
	background-color: #fdfdf9;
	color: #4b5666;
	border: 1px solid #4b5666;
}
#mobilenumber:hover {
	background-color: #4b5666;
	color: #fdfdf9;
}
#mobilenumber1 {
	margin-top: 20px;
	width: 86%;
	padding: 15px 0px;
	color: #4b5666;
	font-size: 18px;
	letter-spacing: 1px;
	background-color: #fdfdf9;
	border: 1px solid #4b5666;
	margin-bottom: 30px;
	border-bottom: 1px solid #4b5666;
}
#mobilenumber1:hover {
	background-color: #4b5666;
	color: #fdfdf9;
}
#signup1number {
	font-family: Arial;
	width: 86%;
	margin: auto;
	padding: 20px 0px;
	background-color: #fdfdf9;
	font-size: 28px;
	font-weight: 500;
	border-top: 1px solid #959999;
}
#signupp1 {
	font-family: Arial;
	width: 86%;
	margin: auto;
	padding: 20px 0px;
	background-color: #fdfdf9;
	font-size: 28px;
	font-weight: 500;
}
#signupp2 {
	width: 86%;
	margin: auto;
	font-family: Verdana;
	font-size: 14px;
	color: #5c5c5f;
	word-spacing: 2px;
	letter-spacing: 1px;
	line-height: 2;
	font-weight: 200;
}
#createanaccount {
	width: 86%;
	background-color: #fdfdf9;
	color: #4b5666;
	border: 1px solid #4b5666;
	font-size: 18px;
	letter-spacing: 1px;
	margin: 30px 0px;
	padding: 15px 0px;
	margin-bottom: 40px;
}
#createanaccount:hover {
	background-color: #4b5666;
	color: #fdfdf9;
} /* added new button id below*/
/* Changed the dimensions of the admin button */
#adminsigninlink {
	width: 88.5%;
	margin-left: 20px;
	background-color: #4b5666;
	color: #fdfdf9;
	border: 1px solid #4b5666;
	font-size: 20px;
	letter-spacing: 1px;
	padding: 15px 0px;
	margin-bottom: 40px;
}
#adminsigninlink:hover {
	background-color: #fdfdf9;
	color: #4b5666;
} /*upto here  */
#createanaccount1 {
	width: 86%;
	background-color: #fdfdf9;
	color: #4b5666;
	border: 1px solid #4b5666;
	font-size: 18px;
	letter-spacing: 1px;
	margin: 30px 0px;
	padding: 15px 0px;
	margin-bottom: 40px;
}
#createanaccount1:hover {
	background-color: #4b5666;
	color: #fdfdf9;
}
#signinnumber {
	width: 35%;
	visibility: visible;
	display: none;
	background-color: #fdfdf9;
	height: 83%;
	overflow-y: scroll;
	overflow-x: hidden;
	margin: auto;
	margin-top: 0px;
	text-align: center;
}
#signinnumber > h2 {
	border-bottom: 1px solid black;
}
#number {
	width: 96%;
	font-size: 18px;
	padding: 14px 6px;
	border: 3px solid #167a92;
	border-radius: 5px;
	margin-bottom: 10px;
	background-color: #fdfdf9;
	color: #959999;
	letter-spacing: 1px;
}
#emailid {
	width: 86%;
	margin: auto;
	margin-top: 20px;
	padding: 15px 0px;
	color: #4b5666;
	font-size: 18px;
	letter-spacing: 1px;
	background-color: #fdfdf9;
	border: 1px solid #4b5666;
	margin-bottom: 30px;
	border-bottom: 1px solid #4b5666;
}
#emailid:hover {
	color: #fdfdf9;
	background-color: #4b5666;
}
#emailid1 {
	width: 86%;
	margin: auto;
	margin-top: 20px;
	padding: 15px 6px;
	color: #4b5666;
	font-size: 18px;
	letter-spacing: 1px;
	background-color: #fdfdf9;
	border: 1px solid #4b5666;
	margin-bottom: 30px;
	border-bottom: 1px solid #4b5666;
}
#emailid1:hover {
	color: #fdfdf9;
	background-color: #4b5666;
}
#numbersignin {
	text-align: start;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 5px;
	font-size: 16px;
	font-family: Arial;
	letter-spacing: 1px;
	color: #444646;
	text-align: start;
}
#numbersigninp {
	text-align: start;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 5px;
	font-size: 16px;
	font-family: Arial;
	letter-spacing: 1px;
	color: #444646;
	text-align: start;
}#emailsignuppp11{
	text-align: start;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 5px;
	font-size: 16px;
	font-family: Arial;
	letter-spacing: 1px;
	color: #444646;
	text-align: start;
}#usernamesignupp11{
	text-align: start;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 16px;
	font-family: Arial;
	letter-spacing: 1px;
	color: #444646;
	text-align: start;
}#mobilesignupp11{
	text-align: start;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 16px;
	font-family: Arial;
	letter-spacing: 1px;
	color: #444646;
	text-align: start;
}#passwordsignupp11{
	text-align: start;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 16px;
	font-family: Arial;
	letter-spacing: 1px;
	color: #444646;
	text-align: start;

}
#emailsigninp {
	text-align: start;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 5px;
	font-size: 16px;
	font-family: Arial;
	letter-spacing: 1px;
	color: #444646;
	text-align: start;
}
#signuppage {
	width: 35%;
	visibility: visible;
	background-color: #fdfdf9;
	display: none;
	height: 84%;
	overflow-y: scroll;
	overflow-x: hidden;
	margin: auto;
	margin-top: 0px;
	text-align: center;
}
#signuppage > h2 {
	border-bottom: 1px solid black;
}
#numbersignup {
	text-align: start;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
	color: #444646;
	text-align: start;
}
#signupnext {
	display: flex;
	width: 86%;
	margin: auto;
	gap: 10px;
	margin: 30px auto;
	text-align: start;
}
#ticksignup {
	font-family: sans-serif;
	font-size: 14px;
	word-spacing: 3px;
	color: #676868;
}
#Alreadyhave {
	font-family: Arial;
	width: 86%;
	margin: auto;
	padding: 20px 0px;
	background-color: #fdfdf9;
	font-size: 30px;
	font-weight: 500;
}/* updated signupterms size */
#signupterms {
	width: 86%;
	margin: auto;
	text-align: start;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 15px;
	word-spacing: 3px;
	color: #676868;
    /*changed pad botm to 10px removed borderbotom */
	padding-bottom: 10px;

}/* added new termses */
#termses{
    width:86%;
    display:flex;
    margin:auto;
    padding-right:20px;
    text-align: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    border-bottom: 1px solid #959999;
}
#termses a {
    font-size:18px;
	color: #0d93b4;
}
#signupsignin {
	width: 86%;
	background-color: #fdfdf9;
	color: #4b5666;
	border: 1px solid #4b5666;
	font-size: 18px;
	letter-spacing: 1px;
	padding: 15px 0px;
	margin-bottom: 80px;
}
#signupsignin:hover {
	background-color: #4b5666;
	color: #fdfdf9;
}
#signinnumberpage {
	width: 35%;
	visibility: visible;
	background-color: #fdfdf9;
	display: none;
	height: 85%;
	overflow-y: scroll;
	overflow-x: hidden;
	margin: auto;
	margin-top: 0px;
	text-align: center;
}
#signuppage > h2 {
	border-bottom: 1px solid black;
}
#signinbuttonemail {
	margin: auto;
	margin-top: 20px;
	width: 86%;
	padding: 15px 0px;
	color: #fdfdf9;
	font-size: 18px;
	letter-spacing: 1px;
	background-color: #4b5666;
	border: 1px solid #4b5666;
}
#signinbuttonemail:hover {
	background-color: #fdfdf9;
	color: #4b5666;
	border: 1px solid #4b5666;
}
#signinbuttonnumber {
	width: 86%;
	margin-top: 20px;
	width: 86%;
	padding: 15px 0px;
	color: #fdfdf9;
	font-size: 18px;
	letter-spacing: 1px;
	background-color: #4b5666;
	border: 1px solid #4b5666;
}
#signinbuttonemail:hover {
	background-color: #fdfdf9;
	color: #4b5666;
	border: 1px solid #4b5666;
}
#signinemailpage {
	width: 35%;
	visibility: visible;
	background-color: #fdfdf9;
	display: none;
	height: 85%;
	overflow-y: scroll;
	overflow-x: hidden;
	margin: auto;
	margin-top: 0px;
	text-align: center;
}
#signinnumberform {
	width: 76%;
	padding: 0px;
	text-align: start;
	margin: auto;
} /*adding id's for signin sign up  ends here */
/* adding new id for sign functionality */
#emailsignup {
	 /* changed width to 100% */
     width: 100%;
	font-size: 18px;
	padding: 14px 6px;
	border: 2px solid #167a92;
	border-radius: 5px;
	margin-bottom: 10px;
	background-color: #fdfdf9;
	color: #959999;
	letter-spacing: 1px;
}
#namesignup {
	 /* changed width to 100% */
     width: 100%;
	font-size: 18px;
	padding: 14px 6px;
	border: 2px solid #167a92;
	border-radius: 5px;
	margin-bottom: 10px;
	background-color: #fdfdf9;
	color: #959999;
	letter-spacing: 1px;
}
#mobilenumbersignup {
	 /* changed width to 100% */
     width: 100%;
	font-size: 18px;
	padding: 14px 6px;
	border: 2px solid #167a92;
	border-radius: 5px;
	margin-bottom: 10px;
	background-color: #fdfdf9;
	color: #959999;
	letter-spacing: 1px;
}
#passwordsignup {
	 /* changed width to 100% */
     width: 100%;
	font-size: 18px;
	padding: 14px 6px;
	border: 2px solid #167a92;
	border-radius: 5px;
	margin-bottom: 10px;
	background-color: #fdfdf9;
	color: #959999;
	letter-spacing: 1px;
}

/* end adding new id's */

#search_tab-box {
	padding: 10px;
	/* border:solid 1px #1d565d; */
	color: #1d565d;
	border: none;
}
#search_tab {
	display: flex;
	align-content: center;
	/* removed space between */
	/* justify-content: space-between; */
	padding-right: 30px;
	padding-left: 20px;
	/* updated below all */
	/* border-bottom: solid 1px rgb(198, 194, 194); */
	width: 92%;
	margin: auto;
}

#first {
	display: flex;
	height: 60px;
	align-content: center;
	justify-content: space-around;
}

#a,
#b {
	/* updated */
	height: auto;
	display: flex;
	/* margin-top: 23px; */

	padding: 0px 15px 0px 15px;
	align-items: center;
	align-content: center;
	border: solid 1px rgb(198, 194, 194);
	border-bottom: none;

	justify-content: center;
}

#a {
	border-top: solid 4px #167a92;
}

/* added */
#a > h1 {
	padding-bottom: 4px;
}
/* added */
#b > h1 {
	padding-top: 4px;
}

#last {
	display: 2px solid blue;
	display: flex;
	/* updated */
	margin: auto 0 auto auto;
	/* border: solid 1px red; */
	/* justify-content: center; */
	align-content: center;
	align-items: center;
	gap: 30px;
	justify-content: space-around;
	height: 100%;
}

#last img {
	width: 20px;
	justify-content: center;
}
/* updated size of cart icon     */
#last > img {
	width: 30px;
	cursor: pointer;
}

#last1 {
	display: flex;
	/* removed */
	/* margin-top: 23px; */

	border: solid 1px #1d565d;
	color: #1d565d;
	border-radius: 5px;
	align-content: center;
	align-items: center;
	justify-content: space-around;
	height: 100%;
	gap: 50px;
	padding: 5px 10px;
}

#search-box {
	/* updated */
	padding: 8px;
	/* border:solid 1px #1d565d; */
	color: #1d565d;
	border: none;
}

#catogary_tab {
	/* border: 1px solid red; */
	display: flex;
	gap: 30px;
	/* updated */
	margin: 10px auto;
	margin-bottom: 0%;
	color: #26262c;
	font-family: "Times New Roman", Times, serif;
	height: auto;
	letter-spacing: 0.06rem;
	/* added */
	width: 90%;
}

#catogary_tab div:hover {
	color: #046673;
	cursor: pointer;
}

/* updated the last hover effect */
#catogary_tab > :last-child .dropdowns {
	/* border: 1px solid red; */
	right: -110px;
}

hr {
	background-color: #f7f6f2;
	/* added */
	padding: 0;
	margin: 0;
}
/* momin user dashboard css*/
/* adding dropdown for sign out in user dashboard */
.dropdown {
	position: relative;
	display: inline-block;
}.dropdownbtn{
	margin-top: 3px;
}

.dropdown-content {
	visibility: hidden;
	display: none;
	font-size: 12px;
	padding-top: 10px;
	position: absolute;
	background-color: #f1f1f1;
	top:20px;
	min-width: 160px;
	text-align: start;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 10;
}

.dropdown-content a {
	color: #676868;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover a:hover {
	text-decoration: underline;
}
#dropuppop{
    position: relative;
    display: inline-block;
    align-items: center;
}#dropup_content{
    display: none;
    text-align: start;
    visibility: visible;
    position: absolute;
    background-color:red;
    min-width: 10px;
    border-radius:40px;
    margin-left:-65px;
    color:white;
    padding: 2px 4px;
    bottom: 10px;
    left:84px;
    z-index: 1;
}#addingnumber {
    color: white;
    margin-left:-9px;
    font-size: 11px;
    text-decoration: none;
    display: block;
  }
/* vedant's hover down css */
/* hover dropdown css part below */
.containers {
	/* border: 1px solid red; */
	height: 30px;
	/* width: 80px; */
	position: relative;
	/* text-align: center; */
	line-height: 30px;
	font-size: 15px;
	cursor: pointer;
}

.dropdowns {
	height: auto;
	width: 250px;
	position: absolute;
	/* left: 0; */
	display: none;
}

.dropdowns hr {
	width: 90%;
	margin: auto;
}
.dropdowns p {
	color: #444646;
	padding-left: 10px;
}

a {
	color: #444646;
	display: block;
	text-align: left;
	padding-left: 10px;
	font-size: 15px;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.containers:hover .dropdowns {
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
	display: block;
	z-index: 1;
	background-color: white;
}

/********** Media queries below *************/

@media all and (min-width: 768px) and (max-width: 1024px) {
	#catogary_tab {
		display: none;
	}
}
@media all and (min-width: 320px) and (max-width: 767px) {
	#catogary_tab {
		display: none;
	}	 
}

@media all and (min-width: 820px) and (max-width: 1024px) {
	#search_tab {
		display: flex;
		align-content: center;
		width: 95%;
	}
}

@media all and (min-width: 360px) and (max-width: 767px) {
	#search_tab {
		display: grid;
		align-content: center;
		width: 90%;
	}	 

	#first {
		display: flex;
		height: 60px;
		width: 90%;
	}

	#last {
		display: flex;
		width: 100%;
	}

	#last1 {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;
	}

}